# Core dependencies
flask
ollama
transformers
requests
pyqtgraph

numpy
scipy
matplotlib
scikit-learn

# 3D graphics and visualization
PyQt5>=5.12.8
PyOpenGL>=3.1.0
pygame==2.5.2
moderngl>=5.8.0
moderngl-window>=2.4.0
pywavefront
pyrr>=0.10.3
pyglet<2
trimesh

pillow==9.2.0

fuzzywuzzy
python-levenshtein

# AI and machine learning
torch
diffusers
accelerate

# Computer vision
opencv-python






